<%= turbo_stream_from @comments%>
<div id="<%= dom_id(comment) %>">
  content: <%= comment.content %>
  - <%= time_tag comment.created_at, "data-local": "time-ago" %>
  <%= button_to "Delete", @comments, method: :delete %>
</div>
